#button {
    border: none;
    border-radius: .25rem;
    width: 250px;
    height: 50px;
    background-color: #ffd8b8;
    margin: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
#button:hover {
    background-color: #fcc597;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#generate-button {
    background-color: #b5ebe1;
}